<h1> Latest news </h1>

<% if can? :manage, Newsitem %>
  <div>
    <%= link_to "Make new Post", new_newsitem_path, class: 'btn btn-primary' %>
  </div>
  <br/>
<% end %>

<% if @newsitems && !@newsitems.empty? %>
  <% @newsitems.each do |item| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <b> <%= item.title %></b>
      </div>
      <div class="panel-body">
        <div>
          <small class="text-muted"> Post date: <%= item.created_at %> | by: <%= user_link(item.user) %>
          <% if can? :update, item %>
            | <%= link_to 'edit', edit_newsitem_path(item) %>
          <% end %>
          <% if can? :destroy, item %>
            | <%= link_to 'destroy', '#' %>
          <% end %>
          <% if can? :show, item %>
            | <%= link_to 'view', newsitem_path(item) %>
          <% end %>
          </small>
        </div>
        <%= item.body %>
      </div>
    </div>
  <% end %>
<% else %>
  <p> No news to list </p>
<% end %>
