<% if flash[:errors] %>
  <%= render partial: 'common/notices' %>
<% else %>

<div>
  <% if nick = @user.nickname %>
    <h1> <%= nick %>
    <% if rn = @user.real_name %>
      <small>(<%= rn %>)</small></h1>
    <% end %>
  <% else %>
    <h1> <%= @user.best_name_possible %></h1>
  <% end %>
</div>

<div class="content">

  <div class="row">
    <div class="col-sm-12">
      <div class="panel-default">
        <div class="panel-heading">
          <strong> Bio </strong>
        </div>
        <div class="panel-body">
          <p> <%= bio_or_none @user.bio %> </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <div class="panel-default">
        <div class="panel-heading">
          <strong> My latest compositions </strong>
        </div>
        <div class="panel-body">
          <%= render partial: 'common/list_songs', locals: {songs: @user.songs} %>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel-default">
        <div class="panel-heading">
          <strong> My latest ratings </strong>
        </div>
        <div class="panel-body">
          <%= render partial: 'common/list_ratings', locals: {ratings: @user.ratings} %>
        </div>
      </div>
    </div>

  </div>

</div>

<% if can? :edit, @user %>
  <%= link_to "Edit", edit_user_info_path(@user), class: 'btn btn-primary' %>
<% end %>

<% end %>
