<h1> <%= @song.band.name %> - <%= @song.name %> </h1>

<p> <b>Description</b>: <%= @song.description %> </p>

<div class="panel-default">
  <div class="panel-heading"> Ratings </div>
  <div class="panel-body">
    <% if @ratings.empty? %>
      <p class="text-muted"> No ratings found </p>
    <% end %>
    <ul>
    <% @ratings.each do |rating| %>
      <li> Rating: <%= rating.score %> <br/>
        Comment:
        <blockquote>
          <%= rating.comment %>
        </blockquote>
        <div>
          by <%= link_to rating.user.best_name_possible, user_path(rating.user) %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>
