<h1> <%= @song.name %> </h1>

<%= render partial: 'songs/info', locals: {band: @band, song: @song} %>

<div class="panel-default">
  <div class="panel-heading"> Ratings </div>
  <div class="panel-body">
    <% if @ratings.empty? %>
      <p class="text-muted"> No ratings found </p>
    <% end %>
    <% @ratings.each do |rating| %>
      <div>
        <% usr = rating.user %>
        <%= link_to usr.best_name_possible, user_path(usr) %> rates <%= rating.score %>/<%= Rating::Max %>:
        <blockquote>
          <%= rating.comment %>
          <% if can? :manage, rating %>
            <br/>
            <%= link_to 'Edit Rating', edit_rating_path(rating), class: 'btn btn-primary' %>
          <% end %>
        </blockquote>
        <div>
        </div>
      </div>
    <% end %>
  </div>
</div>
