<%= render partial: 'bands/letters', locals: {letters: @letters} %>

<h1> <%= @band.name %> </h1>

<small class='text-muted'> Current band leader: <%= user_link(@band_leader) %> </small>

<p> <%= @band.description %> </p>

<h3> Related songs </h3>

<%= render partial: 'common/list_songs', locals: {songs: @band.songs} %>

