<% if newsitems.blank? %>
  <p> No news items </p>
<% else %>
  <% first = first_newsitem %>
  <strong> <%= first.title %> </strong> <small class="text-muted"><%= time_ago_in_words first.created_at %></small>:<br/>
  <small>
    <%= simple_format(first.body) %>
  </small>

  <hr/>

  <ul>
  <% newsitems.each do |item| %>
    <li> <%= link_to item.title, newsitem_path(item) %> - <%= time_ago_in_words item.created_at %> </li>
  <% end %>
  </ul>
<% end %>
