<!DOCTYPE html>
<html>
<head>
  <title>UCA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
  <h1> User Composition Archive </h1>

  <nav class="navbar navbar-default navbar-static-top">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", root_path, role: "presentation", class: "navbar-link" %></li>
      <li><%= link_to "Bands", bands_path, role: "presentation", class: "navbar-link" %> </li>
      <li><%= link_to "About", about_path, role: "presentation", class: "navbar-link" %></li>
      <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "navbar-link" %> </li>
        <li> <%= link_to current_user.best_name_possible, user_path(current_user), class: "navbar-link" %> </li>
      <% else %>
        <li> <%= link_to "Sign Up", new_user_registration_path, class: "navbar-link" %> </li>
        <li> <%= link_to "Login", new_user_session_path, class: "navbar-link" %> </li>
      <% end %>
      </p>
    </ul>
  </nav>

  <% if n = flash[:notice] %>
    <div class="panel panel-info">
      <div class="panel-heading"> Notice </div>
      <div class="panel-body"><%= n %></div>
    </div>
  <% end %>

  <% if a = flash[:alert] %>
    <div class="panel panel-danger">
      <div class="panel-heading"> Alert </div>
      <div class="panel-body"> <%= a %> </div>
    </div>
  <% end %>

  <%= yield %>


  <div style="margin-top:10px;" class="panel-default">
    <div class="panel-footer"> User Composition Archive 2015-<%= Time.now.year %></div>
  </div>

</body>
</html>
